[Desktop Entry]
Type=Application
Terminal=false
Name=GNOME Development Monitor
Comment=GNOME Development Monitor
Icon=gnome
Exec=gnome-development-monitor
Categories=GNOME;GTK;Development;Other;
StartupNotify=true
