<html>
    <head>
        <link href="http://projects.gnome.org/css/layout.css" rel="stylesheet" type="text/css" media="screen">
        <link href="http://projects.gnome.org/css/style.css" rel="stylesheet" type="text/css" media="all">
        <link rel="icon" type="image/png" href="http://www.gnome.org/img/logo/foot-16.png">
        <link rel="SHORTCUT ICON" type="image/png" href="http://www.gnome.org/img/logo/foot-16.png">
        <title>GNOME SVN Statistics</title>
    </head>
    <body>

        <!-- site header, taken from projects.gnome.org -->
        <div id="page">
        <ul id="general">
          <li id="siteaction-gnome_home" class="home">
            <a href="http://www.gnome.org/" title="Home">Home</a>
          </li>
          <li id="siteaction-gnome_news">
            <a href="http://news.gnome.org/" title="News">News</a>
          </li>
          <li id="siteaction-gnome_projects">
            <a href="http://projects.gnome.org/" title="Projects">Projects</a>
          </li>
          <li id="siteaction-gnome_art">
            <a href="http://art.gnome.org/" title="Art">Art</a>
          </li>
          <li id="siteaction-gnome_support">
            <a href="http://www.gnome.org/support/" title="Support">Support</a>
          </li>
          <li id="siteaction-gnome_development">
            <a href="http://library.gnome.org/devel/" title="Development">Development</a>
          </li>
          <li id="siteaction-gnome_community">
            <a href="http://www.gnome.org/community/" title="Community">Community</a>
          </li>
        </ul>
        <div id="header">
          <h1>GNOME SVN Statistics</h1>
        </div>
        </div>
        <!-- end site header -->
        
        <div id="body"><div id="content">
            <h1><TMPL_VAR date_generated></h1>
            <table width="90%">
                <tr>
                    <td width="45%" valign="top">
                        <h2>Authors</h2>
                        <ul>
                            <TMPL_LOOP Authors>
                                <li><TMPL_VAR author_name> <TMPL_VAR author_freq> (<TMPL_VAR author_projects>)</li>
                            </TMPL_LOOP>      
                        </ul>
                    </td>
                    <td width="45%" valign="top">
                        <img src="<TMPL_VAR author_chart>"/>  
                    </td>
                </tr>
                <tr>
                    <td width="45%" valign="top">
                        <h2>Projects</h2>
                        <ul>
                            <TMPL_LOOP Projects>
                                <li><TMPL_VAR project_name> <TMPL_VAR project_freq> (<TMPL_VAR project_authors>)</li>
                            </TMPL_LOOP>
                        </ul>
                    </td>
                    <td width="45%" valign="top">
                        <img src="<TMPL_VAR project_chart>"/>
                    </td>
                </tr>
                <tr>
                    <td width="45%" valign="top">            
                        <h2>New Projects</h2>
                        <ul>
                            <TMPL_LOOP New>
                                <li><TMPL_VAR new_project_name> <TMPL_VAR new_project_author></li>
                            </TMPL_LOOP>
                        </ul>
                    </td>
                </tr>
            </table>
        </div></div>
    </body>
</html>

