<html>

    <TMPL_INCLUDE header.tmpl>

    <div id="body"><div id="content">
        <h1>Summary for <TMPL_VAR last_date> - <TMPL_VAR today_date></h1>
        <h2>Authors</h2>
        <ul>
            <TMPL_LOOP Authors>
                <li><TMPL_VAR author_name> <TMPL_VAR author_freq> (<TMPL_VAR author_projects>)</li>
            </TMPL_LOOP>      
        </ul>
        <br/>
        <img src="<TMPL_VAR author_chart>"/>  
        <h2>Projects</h2>
        <ul>
            <TMPL_LOOP Projects>
                <li><TMPL_VAR project_name> <TMPL_VAR project_freq> (<TMPL_VAR project_authors>)</li>
            </TMPL_LOOP>
        </ul>
        <br/>
        <img src="<TMPL_VAR project_chart>"/>
    </div></div>

    <TMPL_INCLUDE footer.tmpl>

</html>

