<!-- site header, taken from projects.gnome.org -->

<head>
    <link href="http://projects.gnome.org/css/layout.css" rel="stylesheet" type="text/css" media="screen">
    <link href="http://projects.gnome.org/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link rel="icon" type="image/png" href="http://www.gnome.org/img/logo/foot-16.png">
    <link rel="SHORTCUT ICON" type="image/png" href="http://www.gnome.org/img/logo/foot-16.png">
    <title><TMPL_VAR page_name></title>
</head>
<body>
    <div id="page">
    <ul id="general">
      <li id="siteaction-gnome_home" class="home">
        <a href="http://www.gnome.org/" title="Home">Home</a>
      </li>
      <li id="siteaction-gnome_news">
        <a href="http://news.gnome.org/" title="News">News</a>
      </li>
      <li id="siteaction-gnome_projects">
        <a href="http://projects.gnome.org/" title="Projects">Projects</a>
      </li>
      <li id="siteaction-gnome_art">
        <a href="http://art.gnome.org/" title="Art">Art</a>
      </li>
      <li id="siteaction-gnome_support">
        <a href="http://www.gnome.org/support/" title="Support">Support</a>
      </li>
      <li id="siteaction-gnome_development">
        <a href="http://library.gnome.org/devel/" title="Development">Development</a>
      </li>
      <li id="siteaction-gnome_community">
        <a href="http://www.gnome.org/community/" title="Community">Community</a>
      </li>
    </ul>
    <div id="header">
      <h1><TMPL_VAR page_name></h1>
    </div>
    </div>

<!-- end site header -->
